<div ng-if="showFruit">
    <div class="form-group">
        <button ng-click="editFruit()" class="btn btn-primary pull-left">Edit</button>
        <button ng-click="addFruit()" class="btn btn-primary pull-right">Add</button><br><br>
    </div>
    <h2>Product Content:</h2> <br>
    <div class="pull-left" ng-if="fruit.image">
        <img src="../uploads/{{fruit.image}}" height="125">
    </div>
    <div class="pull-left" ng-else>
        <img src="../uploads/no-image.png" height="125">
    </div>
    <!--<img src="../uploads/{{fruit.image}}" height="125">-->
    <div class="pull-right">
        <h6>Name: {{fruit.name}}</h6><br>
        <h6>Price: {{fruit.price | currency}}</h6>
    </div>
</div>
<div ng-else>
    <button ng-click="addFruit()" class="btn btn-primary pull-right">Add</button>
    <h1>Products: {{fruits.length}}</h1>
</div>