<form>
    <div class="form-group row col-sm-8">
        <label for="searchProduct" class="col-sm-2 control-label">Search product</label>
        <div class="col-sm-4">
            <div class="input-group">
                <input type="search" id="searchProduct" name="searchProduct" class="form-control" ng-model="search"
                       placeholder="Product name">
                <span class="input-group-addon add-on">
                    <span class="glyphicon glyphicon-search"></span>
                </span>
            </div>
        </div>
    </div>
</form>

<div id="resultFruit">
    <nav class="navbar">
        <div id = "categories-menu" class="menu">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a ng-class="categoryId == category.id ? 'active' : ''" id="eggs-link" href="#!/admin/category/{{category.url}}" ng-repeat="category in categories">{{category.name}}</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="thumbnail fruit-item col-xs-4 col-sm-3 col-md-2 col-lg-2" ng-repeat="fruit in fruits | filter:search" ng-click="goToFruit(categoryName, fruit.id)">
        <div class="text-center" ng-if="fruit.image">
            <img src="../uploads/{{fruit.image}}" height="100">
        </div>
        <div class="text-center" ng-else>
            <img src="../uploads/no-image.png" height="100">
        </div>
        <div class="caption">
            <h4 class="text-center">{{fruit.name}}</h4>
            <p class="text-center">{{fruit.price | currency}}</p>
        </div>
    </div>

</div>

<div id="element" class="container">
    <div ng-include="'fruits/admin.fruits.preview.html'"></div>
</div>