<div id="resultFruit">
    <nav class="navbar">
        <div id = "categories-menu" class="menu">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a id="eggs-link" href="#!/admin/category/eggs">Milk & Eggs</a>
                    <a id="fruits-link" href="#!/admin/category/fruits">Vegetables & Fruits</a>
                    <a id="fishes-link" href="#!/admin/category/fishes">Meat & Fish</a>
                    <a id="drinks-link" href="#!/admin/category/drinks">Wine & Drinks</a>
                </div>
            </div>
        </div>
    </nav>
    <table class='table table-hover table-responsive table-bordered'>
        <tr>
            <th class="danger">image</th>
            <th class="danger">name</th>
            <th class="danger">price</th>
        </tr>
        <tr class="info" ng-repeat="fruit in fruits" ng-click="goToFruit(categoryName, fruit.id)">
            <td>
                <div ng-if="fruit.image">
                    <img src="../uploads/{{fruit.image}}" height="25">
                </div>
                <div  ng-else>
                    <img src="../uploads/no-image.png" height="25">
                </div>
            </td>
            <td>
                {{fruit.name}}
            </td>
            <td>
                {{fruit.price | currency}}
            </td>
        </tr>
    </table>
</div>

<div class="container">
    <div ng-if="showFruit">
        <div class="form-group">
            <button id="editFruit" data-egg-id="" class="btnEdit btn btn-primary">Edit</button><br><br>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-10 col-sm-2">
                <button id="addFruit" data-egg-id="" class="btnAdd btn btn-primary">Add</button><br><br>
            </div>
        </div>
        <h2>Product Content:</h2> <br>
        <img src="../uploads/{{fruit.image}}" height="125">
        <div class="pull-right">
            <h6>Name: {{fruit.name}}</h6><br>
            <h6>Price: {{fruit.price | currency}}</h6>
        </div>
    </div>
    <div ng-else>
        <h1>Products: {{fruits.length}}</h1>
    </div>
</div>

<!-- <div class="container">
    <h2>Create Fruit</h2>
    <form class="form-horizontal" name="addFruitForm" id="addFruitForm" action="../api/api.php" method="{{method}}" enctype="multipart/form-data">
        <div class="form-group">
            <label class="control-label col-sm-2" for="fruitName">Name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="fruitName" placeholder="Enter name" name="name" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="fruitPhone">Phone:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="fruitPhone" placeholder="Enter phone" name="phone" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Email:</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="fruitRole">Role:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="fruitRole" placeholder="Enter role" name="role" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="fruitImage">Image:</label>
            <div class="col-sm-10">
                <input type="file" class="form-control" id="fruitImage" name="image" accept="image/jpg, image/jpeg, image/png, image/gif">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btnAdd btn btn-primary" value="add" id="createFruit" name="action">Save</button>
            </div>
        </div>
    </form>
</div> -->