<form>
    <div class="form-group row col-sm-8">
        <label for="searchProduct" class="col-sm-2 control-label">Search product</label>
        <div class="col-sm-4">
            <div class="input-group">
                <input type="search" id="searchProduct" name="searchProduct" class="form-control" ng-model="search"
                       placeholder="Product name">
                <span class="input-group-addon add-on">
                    <span class="glyphicon glyphicon-search"></span>
                </span>
            </div>
        </div>
    </div>
</form>

<div id="resultFruit">
    <nav class="navbar">
        <div id = "categories-menu" class="menu">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a ng-class="categoryName == 'eggs' ? 'active' : ''" id="eggs-link" href="#!/admin/category/eggs">Milk & Eggs</a>
                    <a ng-class="categoryName == 'fruits' ? 'active' : ''" id="fruits-link" href="#!/admin/category/fruits">Vegetables & Fruits</a>
                    <a ng-class="categoryName == 'fishes' ? 'active' : ''" id="fishes-link" href="#!/admin/category/fishes">Meat & Fish</a>
                    <a ng-class="categoryName == 'drinks' ? 'active' : ''" id="drinks-link" href="#!/admin/category/drinks">Wine & Drinks</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="row">
        <div class="col-xs-18 col-sm-6 col-md-3">
            <div class="thumbnail fruit-item media-body" ng-repeat="fruit in fruits | filter:search" ng-click="goToFruit(categoryName, fruit.id)">
                <div class="text-center" ng-if="fruit.image">
                    <img src="../uploads/{{fruit.image}}" height="110">
                </div>
                <div class="text-center" ng-else>
                    <img src="../uploads/no-image.png" height="110">
                </div>
                <div class="caption">
                    <h4 class="text-center">{{fruit.name}}</h4>
                    <p class="text-center">{{fruit.price | currency}}</p>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="container" ng-include="'fruits/admin.fruits.preview.html'">

</div>