<form id="orderForm" name="orderForm">
    <h3 class="text-center">Order</h3>
    <fieldset>
        <legend><h4>Shipping details:</h4></legend>
        <div class="form-group row">
            <label for="deliveryCity" class="col-md-offset-1 col-sm-2 control-label required-field">City</label>
            <div class="col-sm-8">
                <select ng-dblclick="getCity()" ng-model="order.delivery_city" class="form-control input-sm chat-input margin_bottom" id="deliveryCity" name="deliveryCity" placeholder="City" required>
                    <option ng-selected="order.delivery_city == 'Jerusalem' ? 'selected' : ''">Jerusalem</option>
                    <option ng-selected="order.delivery_city == 'Tel Aviv' ? 'selected' : ''">Tel Aviv</option>
                    <option ng-selected="order.delivery_city == 'Haifa' ? 'selected' : ''">Haifa</option>
                    <option ng-selected="order.delivery_city == 'Ashdod' ? 'selected' : ''">Ashdod</option>
                    <option ng-selected="order.delivery_city == 'Rishon LeZiyyon' ? 'selected' : ''">Rishon LeZiyyon</option>
                    <option ng-selected="order.delivery_city == 'Petah Tikva' ? 'selected' : ''">Petah Tikva</option>
                    <option ng-selected="order.delivery_city == 'Beersheba' ? 'selected' : ''">Beersheba</option>
                    <option ng-selected="order.delivery_city == 'Netanya' ? 'selected' : ''">Netanya</option>
                    <option ng-selected="order.delivery_city == 'Holon' ? 'selected' : ''">Holon</option>
                    <option ng-selected="order.delivery_city == 'Bnei Brak' ? 'selected' : ''">Bnei Brak</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="deliveryStreet" class="col-md-offset-1 col-sm-2 control-label required-field">Street</label>
            <div class="col-sm-8">
                <input ng-dblclick="getStreet()" ng-model="order.delivery_street" type="text" id="deliveryStreet" name="deliveryStreet" class="form-control input-sm chat-input margin_bottom"
                       placeholder="Street" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="shippingDate" class="col-md-offset-1 col-sm-2 control-label required-field">Shipping Date</label>
            <div class="col-xs-8 date">
                <div class="input-group input-append date" id="shippingDate">
                    <input ng-model="order.delivery_date" type="date" class="form-control input-sm chat-input margin_bottom" name="shippingDate">
                    <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend><h4>Payments:</h4></legend>
        <div class="form-group row">
            <label for="creditCard" class="col-md-offset-1 col-sm-2 control-label required-field">Credit Card</label>
            <div class="col-sm-8">
                <input ng-model="order.credit_card" type="number" id="creditCard" name="creditCard" class="form-control input-sm chat-input margin_bottom"
                       placeholder="Credit Card" required>
            </div>
        </div>
    </fieldset>
    <div class="wrapper">
        <span class="group-btn">
            <button class="btn btn-primary btn-md center-block" ng-click="makeOrder(order)" type="button"
                    ng-disabled="orderForm.deliveryCity.$invalid || orderForm.deliveryStreet.$invalid || orderForm.shippingDate.$invalid || orderForm.creditCard.$invalid">Order</button>
        </span>
    </div>
</form>
