<div id="index" class="flex-container">
    <div class="part part-1 login bordered-right text-center">
            <div class="col-md-offset-1 col-md-10" id="section1">
                <div ng-if="isLoggedIn">
                    <div ng-include="'auth/dashboard.html'"></div>
                </div>
                <div ng-else>
                    <div ng-include="'auth/loginForm.html'"></div>
                </div>
            </div>
    </div>
    <div class="part part-2 commercial bordered-right text-center">
        Why you should shop in our store? <br>
        Why buy it in stores when you can get it <br>
        literally shipped to your house AND it's cheaper? <br>
        <img src="../images/free-shipping.jpg" class="img-fluid img-circle"  width="300" height="220" alt="free-shipping">
    </div>
    <div class="part part-3 notifications bordered-right">
        <div id="numbers">
            Available products in our store - {{fruitsCount}}
            <br><br>
            Number of orders submitted in our store - {{ordersCount}}
            <br><br>
        </div>
        <div id="information" ng-model="user">
            <div ng-if="isLoggedIn && !isAdmin(user.role)">
                Notification:
                <br>
                <div>
                    You have open cart from {{ cartDate }}
                    <br>
                    Total sum: {{ totalSum | currency }}
                </div>
                <div>
                    Your last purchase was on
                </div>
                <div>
                    Welcome {{ user.name }}
                </div>
            </div>

        </div>
    </div>
</div>