<div id="cart" ng-controller="cartCtrl"><h3>Cart:</h3>

    <div class="info fruit-item" ng-repeat="cartFruit in cartFruits">
        <td>
            Quantity: {{cartFruit.quantity}} Price: {{cartFruit.price | currency}} Name: {{cartFruit.name}} ID: {{cartFruit.product}}
            <span ng-click="deleteFruit(cartFruit.id)">X</span>
        </td>
    </div>
    <br>
    <button class="btn btn-primary btn-md" ng-click="goToOrderStep()" type="button">Order<i class="fa fa-sign-in"></i></button>
</div>